pyaudio
struct
speech_recognition
time
webbrowser
psutil
datetime
time
os
playsound
threading
random
tkinter 
pywhatkit
pyttsx3
jokeapi 
asyncio
groq 
googlesearch 
schedule
re
threading
plyer
keyboard
platform
logging
